.page {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
}
#bigtext {
    color: #11ffff;
    font-weight: bold;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3rem;
    margin-top: 75px;
}
#mainone {
    position: absolute;
    top: 200px;
    font-size: 2rem;
}

#rillbig {
    width: 100vw;
    height: 100vh;
}
body {
    background-color: black;
}